:root {
    --primary: #0081E3;
    --secondary: #1F76B8;
    --listing: #679dc7;

    --dark: #263139;
    --dark-blue: #00233E;
    --white: #FFFFFF;
}

html, body {
    max-width: 100vw;
}

body {
    background-color: black;
    color: var(--white);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    font-weight: 300;
    max-width: 100vw;
}

header {
    z-index: 100000;
    position: fixed;
    min-width: 70vw;
    min-height: 100px;
    top: 50px;
    left: 15vw;

    border-radius: 50px;

    background-color: rgba(38, 49, 57, 0.2);
    backdrop-filter: blur(10px);
}

  /*
nav {
    width: 70vw;
    min-height: 100px;

    left: 15vw;
    top: 15px;

    position: fixed;
    z-index: 50;

    background-color: rgba(0,0,0,0);
    filter: blur(10px);
    border-radius: 50px;
    opacity: 50%;
}
    */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 600;

    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-head {
    font-size: 25pt;
    float: left;
}

.nav-body, .nav-list {
    float: right;
    display: flex;
    gap: 25px;
}

.nav-item, a, button {
    font-family: "Oswald";
    font-size: 25px;

    list-style: none;

    color: var(--white);
}

hr {
    padding: 0;
    margin: 0;
}

section {
    margin-left: 100px;
    margin-right: 100px;
}

.section-content {
    margin: 50px; 
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    border-spacing: 10px;
}

.card-row {
    display: flex;
    margin: 10px;
}

.card {
    margin: 10px;
    display: flex;
    flex-flow: column;

    border-radius: 25px;

    background-color: rgba(38, 49, 57, 0.6);

    border: 2px solid;
    border-color: var(--secondary);

    height: 100%;
}

.card-content-highlight {
    color: var(--listing);
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
}

.card-content-split {
    display: table-row;
}

.card-content-split > * {
    display: table-cell;
    width: 50%;
}

.card-header {
    padding: 15px;
    font-size: 25px;
    padding-bottom: 0;
    
    height: 90px;
}

.card-header-center {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 25px;
    padding-bottom: 0;
    
    height: 90px;
}

.card-row-center {
    justify-content: center;
}

.card-header > p, .card-header-center > p {
    color: var(--secondary);
    font-size: 15px;
}

.card-content {
    padding: 15px;
    font-size: 15px;

    flex: auto;
}

.card-images {
    display: flex;
    padding: 15px;

    height: 200px;
}

.card-wd-1 {
    width: 16.66%;
}

.card-wd-2 {
    width: 33.33%;
}

.card-wd-3 {
    width: 50%;
}

.card-wd-4 {
    width: 66.66%;
}

.card-wd-5 {
    width: 83.33%;
}

.card-wd-6 {
    width: 100%;
}

@media(max-width: 500px) {
    .card-wd-1,
    .card-wd-2,
    .card-wd-3,
    .card-wd-4,
    .card-wd-5,
    .card-wd-6 {
        width: 100%
    }
}

li {
    color: var(--listing);
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.list-link {
    font-weight: 900;
    color: var(--primary);
    font-size: inherit;
    font-family: inherit;
}

li > b {
    font-weight: 900;
    color: var(--primary);
}

.section-title {
    text-align: center;
    font-size: 50px;
    color: var(--listing);
    font-weight: 400;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.subsection-title {
    text-align: center;
    font-size: 25px;
    color: var(--secondary);
    font-weight: 400;
}

.subsection-content {
    font-size: 18px;
    color: var(--dark-blue);
    font-style: oblique;
    margin: 5px;
}

.main-title {
    margin-left: 100px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
}

.border-primary {
    border-color: var(--primary);
    border-width: 2px;
    border-style: solid;
}

.border-primary-left {
    border-color: var(--primary);
    border-style: solid;
    border-left: 2px;
}

.border-primary-right {
    border-color: var(--primary);
    border-style: solid;
    border-right: 2px;
}

.font-big {
    font-size: 30px;
}

.wd-1 {
    width: 100%;
}

.wd-2 {
    width: 50%;
}

.wd-3 {
    width: 33%;
}

.aspect-ratio-1-1 {
    aspect-ratio: 1 / 1;
}

.hgt-500 {
    height: 500px;
}

.head {
    height: 100vh;
    
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-image {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: 0.2;
    background-image: url(./assets/avatar.png);
    background-size: cover;
}

.selection-box {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    background-color: var(--dark-blue);
    display: grid;
    grid: 100% / 33.333333333333% 33.333333333333% 33.333333333333%;
}

.selection-box-button {
    height: 100%;
    background: none;
    border: none;
    color: var(--white);
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    line-height: 100%;
}

.selection-box-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.selection-border {
    height: 5px;
    border: none;
    background-color: var(--primary);
    margin: 0;
}